<div class="container-fluid py-4">
  <div class="card">
    <div class="card-header bg-white"><h5 class="mb-0">All Appointments</h5></div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr><th>Booking Date</th><th>Appointment Date</th><th>Patient</th><th>Status</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let apt of appointments">
            <td>{{ apt.slot.updatedAt| date: 'shortDate' }}</td>
            <td>{{ apt.slot.startTime| date: 'shortTime' }}</td>
            <td>{{ apt.patient.user.firstName + ' ' + apt.patient.user.lastName}}</td>
            <td><span class="badge bg-primary">{{ apt.status }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
